[user]
	# you probably want to change this bit
	name = Lukas Drbal
	email = lukas.drbal@merck.com
	signingkey = rsa4096/978C64BA64A4D388
[alias]
	cl = log --graph --pretty=format:'%h%d %s (%an)'
	ci = commit
	st = status
	a = add
	s  = status -sb
	c  = checkout --
	f  = fetch --prune
	p  = pull --rebase
	br = branch
	bra = branch --all
	co = checkout
	cp = cherry-pick
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
	ll = log --first-parent --pretty=format:'%h %s'
	lo = log --oneline
	authors = log --pretty=format:'%an <%ae>'
	browse = instaweb -d webrick -p 8888
	nt = ls-files -o --exclude-standard
	ign = ls-files -o -i --exclude-standard
	tags = tag -l
	gerritMasterPush = push origin HEAD:refs/for/master
	# Typos ...
	dif = diff
	di = diff
	d  = diff
	dff = diff
[branch.master]
  mergeoptions = log
[color]
  grep = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[push]
  default = current
[help]
	autocorrect = 1
